

.containerimagen {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    object-fit: cover;
}

.img {
    /*altura del contenido*/
    height: 30rem;

    /*maneja el ancho*/
    width: 100%;

    /*calidad de la imagen*/
    object-fit: cover;
}

.presentacion{
     font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0)
}

.presentacion2{
     font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0)
}

.presentacion3{
    color: blue;
    
}

.web {
    background-color: rgb(235, 127, 181);
    color: black;
    text-align: center;
    padding: 20px 10px;
}


.sitioweb {
    color: black;
    text-decoration: none;
}

.lineaseparacion{
     font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0)

}