.container{
    display: flex;
    justify-content: center;

    /*1rem = 16px*/
    padding: 1rem;
}

img{
    height: 8rem;

    /*propiedad para ajustar tamaño al contenido y mantener calidad*/
    object-fit: cover;
}

/*pantalla de computadora*/
@media (min-width: 751px){
.card {
    width: 100%;
    height: 100%;
}

.title{
    color:red
}

}

/*pantalla de celular*/
@media(max-width: 750px){
    .card{
        width: 100%;
    }
 .title{
    color: green;
 }
}

.btn-action{
    background-color:rgb(255, 199, 208) ;
    color:black;
}

