.container{
    display: flex;
    justify-content: center;

    padding: 1rem;
}

img{
    height: 8rem;

    object-fit: cover;
}

@media (min-width: 800px){
.card {
    width: 18rem;
}

.title{
    color:red
}

}

@media(max-width: 750px){
    .card{
        width: 9rem
    }
 .title{
    color: green;
 }
}