<div class="containerimagen">
  <img src="../../../assets/ChatGPT Image 11 nov 2025, 05_01_57 p.m..png" class="img" alt="...">
</div>

<h1 class="productos">Algunos de nuestros productos!!</h1>


<div class="container">
  <div class="row">
    <!--el ngfor es una directiva que permite iterar coleccones/ arreglos funcionalidad
        similar al for, foreach -->

    <!--infofloreria es un arreglo(lista) que tengo en mi archivo ts
        let i -> representa cada producto dentro de ese arreglo

        ej:
        si infofloreria tiene 6 productos-> entonces se repetira 6 veces.
        
        -->

        <!---- *ngFor: repite esta tarjeta para cada elemento del array infofloreria; 'tar' es el objeto y 'i' su índice -->
    <div *ngFor="let i of infofloreria" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
      <!--col-lg-3:
      Pantallas grandes (PC)
      Cada tarjeta ocupa 3 columnas de 12 →
      significa que entran 4 tarjetas por fila
      
      col-md-6:
      Pantallas medianas (tablets)
      Cada tarjeta ocupa la mitad →
      2 tarjetas por fila

      col-sm-12:
      Pantallas pequeñas (celulares normales)
      Cada tarjeta ocupa todo el ancho →
      1 tarjeta por fila
      -->
      <div class="card">
        <img src="{{i.img}}" class="img-card" alt="{{i.alt}}">
        <div class="card-body">


          <!--interpoblacion que permite acceder a una propiedad 
           especifica del modelo
                    
           Mostrar en pantalla lo que está dentro de cada objeto i-->
          <h5 class="card-title">{{ i.titulo }}</h5>
          <p class="card-text"> {{ i.descripcion }} - {{i.anualPublicacion}}</p>

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verMasinfo"
            (click)="verMasinfo(i)">

            ver mas info
          </button>

        </div>
      </div>

    </div>

  </div>


</div>

<!-- Modal que muestra la info de la tarjeta seleccionada -->
<div class="modal fade" id="verMasinfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

       <!-- header del modal -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuestro precio</h1>
         <!-- btn-close: botón que Bootstrap usa para cerrar -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- body del modal: se muestran las propiedades del objeto seleccionado -->
      <div class="modal-body">
        <div class="modal-imagen">
          <img class="imagen" src="{{tarjetaSeleccionada?.img}}" alt="{{tarjetaSeleccionada?.alt}}">
        </div>
        <div class="texto">
          <div class="modal-descripcion">
            <!-- uso tarjetaseleccionada?.propiedad -> operator "?.": evita errores si está undefined -->
            {{ tarjetaSeleccionada?.descripcion}}
          </div>
          <!--clase para poder colocar el precio en mas info-->
          <div class="prize">
            ${{tarjetaSeleccionada?.precio}}
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>





<!--Div para web-->
<div class="web">
  <p>© 2025 Mi Sitio Web — Todos los derechos reservados.</p>
  <p><a class="sitioweb" href="about">Conoce sobre nuestra pagina</a> | <a class="sitioweb" href="#">Términos y
      condiciones</a>
  </p>
</div>