#titulo{
    font-size: 60px;
    text-align: center;
    color:rgb(0, 0, 0)
}

.card{
    margin-top: srem;
    gap: 40px;
}

/*boton lo llamamos por clase*/

.btn-action{
    background-color: rgb(228, 109, 168);
    color: rgb(0, 0, 0);

}

body{
    background-color: rgb(5, 226, 152);
}

.cuerpo{
    display: flex;
    gap:30px;
    margin-top: 55px;
}

.elemento-img-top{
    height: 19rem;
}


.carrusel{
    height: 9c0rem;
    width: 80px;
    margin-bottom: 35px;

  object-fit: cover;
}

/*nuevo estilo para productos*/
.productos{
    /*texto en el centro*/
    text-align: center;
    
    font-size: 40px;

    /*separacion del titulo con el carrusel*/
    margin-top: 40px;
   
}

