.oferta {
  text-align: center;

  font-size: 60px;
}

/*#carouselExample img {
  height: 45rem;
  width: 100%;

  object-fit: cover;
}
*/

.img-c {
  width: 100%;
  height: 38rem;
  object-fit: cover;
}

.titulos1{
  text-align: center;
  color: palevioletred;

}


.titulos2{
  
   text-align: center;
  color: palevioletred;
   margin-top: 36px;
    margin-bottom: 36px;
  
}

.titulos3{
  text-align: center;
  color: palevioletred;

   margin-top: 36px;
    margin-bottom: 36px;

}


